/* Page Header */
.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fefbf5;
    padding: 0rem 7rem;
    position: relative;
}

.page-header-content {
    width: 50%;
}

.page-title {
    font-size: 4rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

.breadcrumb {
    font-size: 1.25rem;
    color: #555;
}

.breadcrumb-highlight {
    color: #f57c00;
    font-weight: bold;
}

.page-header-image {
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}
